BasedOnStyle: Google
AccessModifierOffset: -2
TabWidth: 2
IndentWidth: 2
ContinuationIndentWidth: 4
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Empty
QualifierAlignment: Custom
QualifierOrder: ['inline', 'static', 'const', 'volatile', 'type']
SeparateDefinitionBlocks: Always

BreakBeforeBraces: Stroustrup

IncludeCategories:
  - Regex: '<(gmock|gtest).+>'
    Priority: 1

